/* 基本颜色 */
$todo: #000;
$colorGray: #A0A0A0; // 灰色
$colorLightGray: #B2B2B2; // 浅灰
$colorBlack: #333; // 黑色
$colorLabel: #212121; // 标签黑色
$colorOrange: #FABF40; // 橘色
$colorPink: #F4E9E9; // 粉红边框
$colorInputBorder: #C9C9C9; // 输入框颜色
$colorReadOnly: #B2B2B2; // 只读颜色
$colorBgReadOnly: #F4F4F4; // 只读背景颜色
$colorBgDark: #333; // 深色背景颜色
$colorTextareaBorder: #C9C9C9; // textarea文本框边框颜色
